NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=fretebela.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=fretebela
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=fretebela.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=318460639332
NEXT_PUBLIC_FIREBASE_APP_ID=1:318460639332:web:8cce5374ce025eee290771

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://ana.lojinhadocelular.com/api/calendar/callback
